<!DOCTYPE HTML>
<html>
    <head>
        <title>Utthan</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />

         <style>
  .capbox {
    background-color: #92D433;
    border: #B3E272 0px solid;
    border-width: 0px 12px 0px 0px;
    display: inline-block;
    *display: inline; zoom: 1; /* FOR IE7-8 */
    padding: 8px 40px 8px 8px;
    }

.capbox-inner {
    font: bold 11px arial, sans-serif;
    color: #000000;
    background-color: #DBF3BA;
    margin: 5px auto 0px auto;
    padding: 3px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

#CaptchaDiv {
    font: bold 17px verdana, arial, sans-serif;
    font-style: italic;
    color: #000000;
    background-color: #FFFFFF;
    padding: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    }

#CaptchaInput { margin: 1px 0px 1px 0px; width: 135px; }
</style>


    </head>
    <body class="subpage">

        <!-- Header -->
            <header id="header">
                <div class="logo"><a href="index.html">Utthan</div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </nav>

        <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <div class="box">
                    <div class="content">

                    <!-- Elements -->
                        
                        <h3 id="elements"> Employer/job provider</h3>
                        <div class="row 200%">    
                                    
                            </div>
                            <div class="12u$ 12u$(medium)">
                              
                              
                                <% for(var i=0; i<alljobs.length; i++){ %>
                                <br>
                                <p>Job Title: <%= alljobs[i].jobtitle %> </p>
                                <p>Job Type: <%= alljobs[i].jobtype %> </p>
                                <p>Job Category: <%= alljobs[i].jobcategory %> </p>
                                <p>Location: <%= alljobs[i].location %> </p>
                                <p>Start Date: <%= alljobs[i].startdate %> </p>
                                <p>End Date: <%= alljobs[i].enddate %> </p>
                                <p>Deadline: <%= alljobs[i].deadlinedate %> </p>
                                <p>Positions: <%= alljobs[i].positions %> </p>
                                <br>
                                <p>About: <%= alljobs[i].about %> </p>
                                <p>Skills Required: <%= alljobs[i].skillsrequired %> </p>
                                <p>Responsibilities: <%= alljobs[i].responsibilities %> </p>
                                <p>Salary Range: <%= alljobs[i].minsalary %> - <%= alljobs[i].maxsalary %> </p>
                                <hr>
                                <br>
                                <% } %>
                                
                          </div>
                        </div>
                        </div>            
            
                    </div>
                </div>
            </section>

            <section id="four" class="wrapper style3">
                <div class="inner">

                    <header class="align-center">
                        <h2>Morbi interdum mollis sapien</h2>
                        <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    </header>

                </div>
            </section>

            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
