	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Jobs</title>
		<!-- <script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages:'en,hi,as,bn,gu,kn,ks,ml,mr,or,sa,ta,te', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
		}
		</script> -->


		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--/assets/css2/main.css
			CSS
			============================================= -->
			<link rel="stylesheet" href="/assets/temp2/css/linearicons.css">
			<link rel="stylesheet" href="/assets/temp2/css/font-awesome.min.css">
			<link rel="stylesheet" href="/assets/temp2/css/bootstrap.css">
			<link rel="stylesheet" href="/assets/temp2/css/magnific-popup.css">
			<link rel="stylesheet" href="/assets/temp2/css/nice-select.css">					
			<link rel="stylesheet" href="/assets/temp2/css/animate.min.css">
			<link rel="stylesheet" href="/assets/temp2/css/owl.carousel.css">
			<link rel="stylesheet" href="/assets/temp2/css/main.css">
			<link rel="stylesheet" href="/assets/temp2/css/scroll.css">
		</head>
		<body>
			<script type="text/javascript">
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages:'en,hi,as,bn,gu,kn,ks,ml,mr,or,sa,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
			</script>

			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a id="google_translate_element"></a></li>
				          <li class="menu-active"><a href="/employers/<%=userid%>">Jobs</a></li>
				          <li><a href="/">Home</a></li>
				          <li><a href="/#aboutus">About Us</a></li>
				          <li><a href="/#service">Services</a></li>
				          <!-- <li><a href="price.html">Price</a></li> -->
				          <!-- <li><a href="blog-home.html">Blog</a></li> -->
				          <li><a href="/#foot">Contact</a></li>
				          <!-- <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
								<li><a href="elements.html">elements</a></li>
								<li><a href="search.html">search</a></li>
								<li><a href="single.html">single</a></li>
				            </ul>
				          </li> -->
				          <!-- <li><a class="ticker-btn" href="#">Signup</a></li> -->
				          <li><a class="ticker-btn" href="/employers/logout">Logout</a></li>				          				          
				        </ul>
				      </nav>
				      <!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			   <section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Job Portal				
							</h1>	
						</div>											
					</div>
				</div>
			</section>
			

			<!-- Start post Area -->
			<section class="post-area section-gap">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">

						<div class="wrapper">
							<div class="flexbox">
									<!-- <div class="box"> -->
										<div class="scrollbar"  id="content-scroll">
												<div class="content">

														<% if(job.jobtype == "Full Time"){ %>
															<div class="single-post d-flex flex-row">
																<div class="details">
																	<div class="title d-flex flex-row justify-content-between">
																		<div class="titles">
																			<a href="single.html"><h4><%= job.jobtitle %></h4></a>
																			<h6><%= job.jobtype %> </h6>					
																		</div>
																	</div>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
																	</p>
																	<h5>Job Nature: Full time</h5>
																	<p class="address"><span class="lnr lnr-map"></span> Location: <%= job.location %> </p>
																	<p class="address"><span class="lnr lnr-database"></span> <%= job.minsalary %> - <%= job.maxsalary %> </p>
																	<form style="align-self: center" method="GET" action="/employers/<%= userid %>/jobs">
											                               <input class="genric-btn info-border circle arrow" type="submit" value="Back">
											                        </form>
																</div>

															</div>
															<% } else{ %>
															<div style="background-color: #f9ce98" class="single-post d-flex flex-row">
																<div class="details">
																	<div class="title d-flex flex-row justify-content-between">
																		<div class="titles">
																			<a href="single.html"><h4><%= job.jobtitle %></h4></a>
																			<h6><%= job.jobtype %> </h6>					
																		</div>
																	</div>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
																	</p>
																	<h5>Job Nature: Seasonal</h5>
																	<p class="address"><span class="lnr lnr-map"></span> Location: <%= job.location %> </p>
																	<p class="address"><span class="lnr lnr-database"></span> <%= job.minsalary %> - <%= job.maxsalary %> </p>
																	<form style="align-self: center" method="GET" action="/employers/<%= userid %>/jobs">       
											                            <input class="genric-btn info-border circle arrow" type="submit" value="Back">
											                        </form>
																</div>

															</div>
															<% } %>

															<!-- <div class="scrollbar"  id="content-scroll"> -->
															<% for(var i=0; i<allusers.length; i++){ %>
																<% if(job.jobtype == "Full Time"){ %>
																	<div style="background-color: #cadcf9" class="single-post d-flex flex-row">
																<% } else { %>
																	<div style="background-color: #ffeec1" class="single-post d-flex flex-row">
																<% } %>
																		<div class="details">
																			<div class="title d-flex flex-row justify-content-between">
																				<div class="titles">
																					<a href="single.html"><h4><%=allusers[i].firstName%> <%=allusers[i].lastName%></h4></a>
																					<h6>Mail: <%= allusers[i].username %> </h6>					
																				</div>
																			</div>
																			<!-- <p>
																				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
																			</p> -->
																			<h5>Contact Number: <%= allusers[i].mobileNum %> </h5>
																			<p class="address">Gender: <%= allusers[i].gender %> </p>
																			<p class="address">Type of Disability: <%= allusers[i].typeOfDisability %> </p>
																			<p class="address">Percentage of disability: <%= allusers[i].disabilityPerc %> </p>
																			<p class="address"><span class="lnr lnr-map"></span> Location: <%= allusers[i].city %> </p>
																			<form style="align-self: center" method="GET" action="/employers/<%= userid %>/jobs">
													                               <input class="genric-btn info-border circle arrow" type="submit" value="Accept">
													                               <input class="genric-btn info-border circle arrow" type="submit" value="Reject">
													                        </form>
																		</div>

																	</div>
																<% } %>
															<!-- </div> -->
														

												</div>
										<!-- </div> -->
									</div>
								</div>	
						</div>

						
							<!-- <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a> -->

						</div>
						
						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->
				
					

			<script src="/assets/temp2/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/assets/temp2/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="/assets/temp2/js/easing.min.js"></script>			
			<script src="/assets/temp2/js/hoverIntent.js"></script>
			<script src="/assets/temp2/js/superfish.min.js"></script>	
			<script src="/assets/temp2/js/jquery.ajaxchimp.min.js"></script>
			<script src="/assets/temp2/js/jquery.magnific-popup.min.js"></script>	
			<script src="/assets/temp2/js/owl.carousel.min.js"></script>			
			<script src="/assets/temp2/js/jquery.sticky.js"></script>
			<script src="/assets/temp2/js/jquery.nice-select.min.js"></script>			
			<script src="/assets/temp2/js/parallax.min.js"></script>		
			<script src="/assets/temp2/js/mail-script.js"></script>	
			<script src="/assets/temp2/js/main.js"></script>	
		</body>
	</html>



