	<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Jobs</title>
		<!-- <script type="text/javascript">
		function googleTranslateElementInit() {
		  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages:'en,hi,as,bn,gu,kn,ks,ml,mr,or,sa,ta,te', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
		}
		</script> -->


		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--/assets/css2/main.css
			CSS
			============================================= -->
			<link rel="stylesheet" href="/assets/temp2/css/linearicons.css">
			<link rel="stylesheet" href="/assets/temp2/css/font-awesome.min.css">
			<link rel="stylesheet" href="/assets/temp2/css/bootstrap.css">
			<link rel="stylesheet" href="/assets/temp2/css/magnific-popup.css">
			<link rel="stylesheet" href="/assets/temp2/css/nice-select.css">					
			<link rel="stylesheet" href="/assets/temp2/css/animate.min.css">
			<link rel="stylesheet" href="/assets/temp2/css/owl.carousel.css">
			<link rel="stylesheet" href="/assets/temp2/css/main.css">
			<link rel="stylesheet" href="/assets/temp2/css/scroll.css">
		</head>
		<body>
			<script type="text/javascript">
			function googleTranslateElementInit() {
			  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages:'en,hi,as,bn,gu,kn,ks,ml,mr,or,sa,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
			</script>

			<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

			  <header id="header" id="home">
			    <div class="container">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
				      <nav id="nav-menu-container">
				        <ul class="nav-menu">
				          <li><a id="google_translate_element"></a></li>
				          <li class="menu-active"><a href="/users/<%=userid%>">Jobs</a></li>
				          <li><a href="/">Home</a></li>
				          <li><a href="/#aboutus">About Us</a></li>
				          <li><a href="/#service">Services</a></li>
				          <!-- <li><a href="price.html">Price</a></li> -->
				          <!-- <li><a href="blog-home.html">Blog</a></li> -->
				          <li><a href="/#foot">Contact</a></li>
				          <!-- <li class="menu-has-children"><a href="">Pages</a>
				            <ul>
								<li><a href="elements.html">elements</a></li>
								<li><a href="search.html">search</a></li>
								<li><a href="single.html">single</a></li>
				            </ul>
				          </li> -->
				          <!-- <li><a class="ticker-btn" href="#">Signup</a></li> -->
				          <li><a class="ticker-btn" href="/users/logout">Logout</a></li>				          				          
				        </ul>
				      </nav>
				      <!-- #nav-menu-container -->		    		
			    	</div>
			    </div>
			  </header><!-- #header -->

			  <section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Job Portal				
							</h1>	
						</div>											
					</div>
				</div>
			</section>


			<!-- start banner Area -->
		<!-- 	<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row fullscreen d-flex align-items-center justify-content-center">
						<div class="banner-content col-lg-12">
							<h1 class="text-white">
								<span>1500+</span> Jobs posted last week				
							</h1>	
							<form action="search.html" class="serach-form-area">
								<div class="row justify-content-center form-wrap">
									<div class="col-lg-4 form-cols">
										<input type="text" class="form-control" name="search" placeholder="what are you looging for?">
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects"">
											<select>
												<option value="1">Select area</option>
												<option value="2">Dhaka</option>
												<option value="3">Rajshahi</option>
												<option value="4">Barishal</option>
												<option value="5">Noakhali</option>
											</select>
										</div>
									</div>
									<div class="col-lg-3 form-cols">
										<div class="default-select" id="default-selects2">
											<select>
												<option value="1">All Category</option>
												<option value="2">Medical</option>
												<option value="3">Technology</option>
												<option value="4">Goverment</option>
												<option value="5">Development</option>
											</select>
										</div>										
									</div>
									<div class="col-lg-2 form-cols">
									    <button type="button" class="btn btn-info">
									      <span class="lnr lnr-magnifier"></span> Search
									    </button>
									</div>								
								</div>
							</form>	
							<p class="text-white"> <span>Search by tags:</span> Tecnology, Business, Consulting, IT Company, Design, Development</p>
						</div>											
					</div>
				</div>
			</section> -->
			<!-- End banner Area -->		
			
			<!-- Start feature-cat Area -->
			<!-- <section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<h1 class="mb-10">Featured Job Categories</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>						
					<div class="row">
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o1.png" alt="">
								</a>
								<p>Accounting</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o2.png" alt="">
								</a>
								<p>Development</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o3.png" alt="">
								</a>
								<p>Technology</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o4.png" alt="">
								</a>
								<p>Media & News</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o5.png" alt="">
								</a>
								<p>Medical</p>
							</div>
						</div>
						<div class="col-lg-2 col-md-4 col-sm-6">
							<div class="single-fcat">
								<a href="category.html">
									<img src="img/o6.png" alt="">
								</a>
								<p>Goverment</p>
							</div>			
						</div>																											
					</div>
				</div>	
			</section> -->
			<!-- End feature-cat Area -->

			<!-- Section for filtering Full Time and Seasonal jobs -->
			<section class="feature-cat-area pt-100" id="category">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-10">
							<div class="title text-center">
								<div class="row">
									<div class="col-lg-6 col-md-4 col-sm-6">
										<form method="GET" action="/users/<%= userid %>/jobs/fulltime">
				                                    <input style="background: #98cdf9" class="genric-btn primary e-large" type="submit" value="Full Time Jobs">
				                        </form>
									</div>
									<div class="col-lg-6 col-md-4 col-sm-6">
										<form method="GET" action="/users/<%= userid %>/jobs/seasonal">
				                                    <input style="background: #f9ce98" class="genric-btn primary e-large" type="submit" value="Seasonal Jobs">
				                        </form>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- End of section -->

			<!-- Start post Area -->
			<section class="post-area">
				<div class="container">
					<div class="row justify-content-center d-flex">
						<div class="col-lg-8 post-list">

						<div class="wrapper">
							<div class="flexbox">
									<!-- <div class="box"> -->
										<div class="scrollbar"  id="content-scroll">
												<div class="content">
													
												<% if(alljobs.length == 0){ %>
												<div class="single-post d-flex flex-row">
													<div class="details">
														<div class="title d-flex flex-row justify-content-between">
															<div class="titles">
																<h4>No new jobs! Please check again later.</h4>
																	<!-- <div class="col-lg-6 col-md-4 col-sm-6"> -->
																		<form method="GET" action="/users/<%= userid %>/jobs/">
												                                <input style="background: #f9ce98" class="genric-btn primary e-large" type="submit" value="Posted Jobs">
												                        </form>
																	<!-- </div>	 -->
															</div>
														</div>
													</div>
												</div>

												<% } %>


													<% for(var i=0; i<alljobs.length; i++){ %>
														<% if(alljobs[i].jobtype == "Full Time"){ %>
															<div class="single-post d-flex flex-row">
																<!-- <div class="thumb">
																	<img src="img/post.png" alt="">
																	<ul class="tags">
																		<li>
																			<a href="#">Art</a>
																		</li>
																		<li>
																			<a href="#">Media</a>
																		</li>
																		<li>
																			<a href="#">Design</a>					
																		</li>
																	</ul>
																</div> -->
																<div class="details">
																	<div class="title d-flex flex-row justify-content-between">
																		<div class="titles">
																			<a href="single.html"><h4><%= alljobs[i].jobtitle %></h4></a>
																			<h6><%= alljobs[i].jobtype %> </h6>					
																		</div>
																		<!-- <ul class="btns">
																			<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
																			<form method="POST" action="/users/<%= userid %>/jobs">
											                                    <input type="hidden" name="jobid" value="<%= alljobs[i]._id %>">
											                                    <input type="hidden" name="userid" value="<%= userid %>">
											                                    <li><span><input type="submit" value="Apply"></span></li>
											                                </form> -->
																			<!-- <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
																			<li><a href="#">Apply</a></li> -->
																		<!-- </ul> -->
																	</div>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
																	</p>
																	<h5>Job Nature: Full time</h5>
																	<p class="address"><span class="lnr lnr-map"></span> Location: <%= alljobs[i].location %> </p>
																	<p class="address"><span class="lnr lnr-database"></span> <%= alljobs[i].minsalary %> - <%= alljobs[i].maxsalary %> </p>
																	<form style="align-self: center" method="POST" action="/users/<%= userid %>/jobs">
											                                    <input type="hidden" name="jobid" value="<%= alljobs[i]._id %>">
											                                    <input type="hidden" name="userid" value="<%= userid %>">
											                                    <input class="genric-btn info-border circle arrow" type="submit" value="Apply">
											                        </form>
																</div>

															</div>
															<% } else{ %>
															<div style="background-color: #f9ce98" class="single-post d-flex flex-row">
																<!-- <div class="thumb">
																	<img src="img/post.png" alt="">
																	<ul class="tags">
																		<li>
																			<a href="#">Art</a>
																		</li>
																		<li>
																			<a href="#">Media</a>
																		</li>
																		<li>
																			<a href="#">Design</a>					
																		</li>
																	</ul>
																</div> -->
																<div class="details">
																	<div class="title d-flex flex-row justify-content-between">
																		<div class="titles">
																			<a href="single.html"><h4><%= alljobs[i].jobtitle %></h4></a>
																			<h6><%= alljobs[i].jobtype %> </h6>					
																		</div>
																		<!-- <ul class="btns">
																			<li><a href="#"><span class="lnr lnr-heart"></span></a></li>
																			<form method="POST" action="/users/<%= userid %>/jobs">
											                                    <input type="hidden" name="jobid" value="<%= alljobs[i]._id %>">
											                                    <input type="hidden" name="userid" value="<%= userid %>">
											                                    <li><span><input type="submit" value="Apply"></span></li>
											                                </form> -->
																			<!-- <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
																			<li><a href="#">Apply</a></li> -->
																		<!-- </ul> -->
																	</div>
																	<p>
																		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporinc ididunt ut dolore magna aliqua.
																	</p>
																	<h5>Job Nature: Seasonal</h5>
																	<p class="address"><span class="lnr lnr-map"></span> Location: <%= alljobs[i].location %> </p>
																	<p class="address"><span class="lnr lnr-database"></span> <%= alljobs[i].minsalary %> - <%= alljobs[i].maxsalary %> </p>
																	<form style="align-self: center" method="POST" action="/users/<%= userid %>/jobs">
											                                    <input type="hidden" name="jobid" value="<%= alljobs[i]._id %>">
											                                    <input type="hidden" name="userid" value="<%= userid %>">
											                                    <input class="genric-btn info-border circle arrow" type="submit" value="Apply">
											                        </form>
																</div>

															</div>
															<% } %>
														<% } %>

												</div>
										</div>
									<!-- </div> -->
								</div>	
						</div>

							


							<!-- <a class="text-uppercase loadmore-btn mx-auto d-block" href="category.html">Load More job Posts</a> -->

						</div>
						
						</div>
					</div>
				</div>	
			</section>
			<!-- End post Area -->
				

			<script src="/assets/temp2/js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/assets/temp2/js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="/assets/temp2/js/easing.min.js"></script>			
			<script src="/assets/temp2/js/hoverIntent.js"></script>
			<script src="/assets/temp2/js/superfish.min.js"></script>	
			<script src="/assets/temp2/js/jquery.ajaxchimp.min.js"></script>
			<script src="/assets/temp2/js/jquery.magnific-popup.min.js"></script>	
			<script src="/assets/temp2/js/owl.carousel.min.js"></script>			
			<script src="/assets/temp2/js/jquery.sticky.js"></script>
			<script src="/assets/temp2/js/jquery.nice-select.min.js"></script>			
			<script src="/assets/temp2/js/parallax.min.js"></script>		
			<script src="/assets/temp2/js/mail-script.js"></script>	
			<script src="/assets/temp2/js/main.js"></script>	
		</body>
	</html>



