<!DOCTYPE HTML>

<html>
    <head>
        <title>Hi!!</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/assets/css/main.css" />
    </head>
    <body class="subpage">

        <!-- Header -->
            <header id="header">
                <div class="logo">Utthan</div>
                <a href="#menu" class="toggle"><span>Menu</span></a>
            </header>

        <!-- Nav -->
            <nav id="menu">
                <ul class="links">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="generic.html">Generic</a></li>
                    <li><a href="elements.html">Elements</a></li>
                </ul>
            </nav>

        <!-- One -->
            <section id="one" class="wrapper style2">
                <div class="inner">
                    <div class="box">
                        <div class="image fit">
                            <img src="images/pic01.jpg" alt="" />
                        </div>
                        <div class="content">
                            <header class="align-center">
                                <h2>Hi, <%= firstname %></h2>
                                <p>Welcome to The Online Portal for Training & Jobs</p>
                            </header>
                            

                            <form method="get">
                                        <div class="row uniform">


                                            <div class="12u$">
                                                
                                                <hr>

                                            </div>
                                            
                                            <div class="6u 12u$(xsmall)">
                                                <label for="email"> Email : <%= username %> </label>
                                            </div>

                                            <div class="6u 12u$(xsmall)">
                                                <label for="mobileno"> Mobile Number : <%= mobile %> </label>
                                            </div>


                                            <div class="6u 12u$(xsmall)">
                                                <label for="disabilitycertificatenumber"> Disability Certificate Number : </label>
                                            </div>



                                            <!-- <div class="6u 12u$">

                                                <button> More Information ... </button>

                                            </div>  -->   
                                            <div class="12u 12 u$(xsmall)">
                                
                                                <button class="btn btn-default btn-large" style="width: 30em; height: 10em; background-color: #999ea8;" formaction= "<%= id %>/profile/"> My Profile </button>

                                            </div>

                                            <div class="12u$">
                                                
                                                <hr>

                                            </div>

                                             

                                            <div class="6u 12 u$(xsmall)">
                                
                                                    <button class="btn btn-default btn-large" style="width: 30em; height: 10em; background-color: #999ea8;" formaction= "<%= id %>/appliedjobs/"> Applied Jobs </button>
                                
                                            </div>

                                             <div class="6u 12 u$(xsmall)">
                                
                                                <button class="btn btn-default btn-large" style="width: 30em; height: 10em; background-color: #999ea8;" formaction= "<%= id %>/appliedtrainings/"> Applied Trainings </button>
                                
                                            </div> 

                                            <div class="6u 12 u$(xsmall)">
                                
                                                <button class="btn btn-default btn-large" style="width: 30em; height: 10em; background-color: #999ea8;" formaction= "<%= id %>/jobfilter/">  Job Opportunities </button>
                                
                                            </div>

                                            <div class="6u 12 u$(xsmall)">
                                
                                                <button class="btn btn-default btn-large" style="width: 30em; height: 10em; background-color: #999ea8;" formaction= "<%= id %>/trainingfilter/"> Training Courses </button>
                                
                                            </div> 

                                           

                                            
                                            
                                            
                                            
                                        </div>

                                    </form>

                                    
                            
                           



                        </div>
                    </div>
                </div>
            </section>

        <!-- Four -->
            <section id="four" class="wrapper style3">
                <div class="inner">

                    <header class="align-center">
                        <h2>Morbi interdum mollis sapien</h2>
                        <p>Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada. Praesent in sem ex. Morbi mattis sapien pretium tellus venenatis, at egestas urna ornare.</p>
                    </header>

                </div>
            </section>

        <!-- Footer -->
           

        <!-- Scripts -->
            <script src="assets/js/jquery.min.js"></script>
            <script src="assets/js/jquery.scrolly.min.js"></script>
            <script src="assets/js/jquery.scrollex.min.js"></script>
            <script src="assets/js/skel.min.js"></script>
            <script src="assets/js/util.js"></script>
            <script src="assets/js/main.js"></script>

    </body>
</html>
